extends ../layout/common

block content
  h1.text-center Transactions
  h3.text-center
    a(href="/trans/create").badge.badge-primary  New trans
  form(action="/trans/search", method="GET").text-center
    input(name="q" type="text").form-control.w-50.mx-auto
    button.btn.btn-primary.mt-4 Search
  if error
    .alert.alert-danger= error
  table.table.table-dark.table-bordered.text-center.mx-auto(style="width: 50%")
    thead
      tr
        th Infomation
        if(user.isAdmin)
          th(colspan="3") Options
        else
           th(colspan="3") ''
    tbody
      each tran in trans
        tr
          td=`${tran.formTrans[0]} has hired the book ${tran.formTrans[1]}`
          if(user.isAdmin)  
            td
              if(!tran.isComplete)
                a(href="/trans/complete/" + tran.id).badge.badge-primary Not complete
              else
                a(href="#" + tran.id).badge.badge-success Complete
            td
              a(href="/trans/delete/" + tran.id).badge.badge-danger Delete
block pagination
  nav(aria-label='Page navigation example')
    ul.pagination.justify-content-center
      li.page-item
        a.page-link(href='/trans?page=1', aria-label='Previous')
          span(aria-hidden='true') &laquo;
          span.sr-only Previous
        each total, index in totalTrans
          li.page-item(class= page - 1 === index ? 'active' : '')
            a.page-link(href=`/trans?page=${index + 1}`)= index + 1
              span.sr-only (current)
      li.page-item
        a.page-link(href=`/trans?page=${totalTrans.length}`, aria-label='Next')
          span(aria-hidden='true') &raquo;
          span.sr-only Next